<div id="fh5co-offcanvass">
    <ul>
        <li class="active"><a href="#" data-nav-section="home">Home</a></li>
        <li><a href="#" data-nav-section="overview">Overview</a></li>
        <li><a href="#" data-nav-section="consumption">Consumption</a></li>
        <li><a href="#" data-nav-section="production">Production</a></li>
        <li><a href="#" data-nav-section="frequency">Frequency</a></li>
        <li><a href="#" data-nav-section="balance">Balance</a></li>
        <li><a href="#" data-nav-section="about">About</a></li>
    </ul>
</div>

<div id="fh5co-menu" class="navbar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><span>Menu</span> <i></i></a>
                <a href="#" class="navbar-brand"><span>JrView</span></a>
            </div>
        </div>
    </div>
</div>